@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  background-color: #111010;
  font-family: "Lucida Console", Monaco, monospace;
  overflow-x: hidden;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

[data-testid="flowbite-tooltip"] {
  background-color: #1a1a1a !important;
  border-radius: 20px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #078c9e;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #1a1a1a;
}
